<header>
    <hgroup>
      <h1>Amor de quatro patas</h1>
      <p>Lorem ipsum dolor sit amet.</p>
    </hgroup>
    <nav>
      <input type="checkbox" id="menu-toggle" class="menu-toggle">

      <label for="menu-toggle" class="menu-button" aria-label="Abrir menu" aria-controls="menu-principal">
        <span></span>
        <span></span>
        <span></span>
      </label>

      <label for="menu-toggle" class="menu-overlay" aria-label="Fechar menu"></label>

      <ul class="menu" id="menu-principal">
        <li>
          <a href="/">Início</a>
        </li>

        <li class="dropdown">
          <a href="/projetos" data-route>Projetos</a>

          <ul class="submenu">
            <li>
              <a href="/projetos#resgate data-route">Resgate</a>
            </li>
            <li>
              <a href="/projetos#adocao" data-route>Adoção</a>
            </li>
            <li>
              <a href="/projetos#voluntariado" data-route>Voluntariado</a>
            </li>
            <li>
              <a href="/projetos#ajuda" data-route>Formas de ajudar</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="/cadastro" data-route>Cadastro</a>
        </li>
      </ul>
    </nav>
  </header>