footer {
  margin-bottom: var(--space-4);
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
@media (min-width: 1200px) {
  footer {
    max-width: 1280px;
  }
}

@media (min-width: 1440px) {
  footer {
    max-width: 1400px;
  }
}
